// app global css in SCSS form

/* 
 * Authors: Rachel Patella, Maria Pasaylo
 * Created: 2025-04-13
 * Updated: 2025-10-15
 *
 * This file is the CSS global stylesheet for the application
 *
 * References:
 * https://quasar.dev/layout/grid/introduction-to-flexbox
 * https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Responsive_Design for media query idea
 * https://css-tricks.com/snippets/css/complete-guide-grid/
 * 
 *
 * This file is a part of OpenOrganizer.
 * This file and all source code within it are governed by the copyright and 
 * license terms outlined in the LICENSE file located in the top-level directory of 
 * this distribution. No part of OpenOrganizer, including this file, may be reproduced, 
 * modified, distributed, or otherwise used except in accordance with the terms 
 * specified in the LICENSE file.
-->
*/

.test {
    display: grid;
    gap: 10vh;
}

.test-pieces {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.login-register-sidebar {
    display: flex;
    flex-direction: column;
    // Full height (100 vh) top-to-bottom column for sidebar 
    width: 50%;
    height: 100vh;
    // Same background color as canva mockups
    background-color:$primary;
    // Text color
    color: white;
    justify-content: center;
    align-items: center;
}

.settings-sidebar {
    display:flex;
    flex-direction: column;
    background-color: $tertiary;
    color: black;
    font-weight: bold;
    width: 20%;
    height: 20vh;
}

.login-registration-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.calendar-container {
    display: grid;
    grid-template-columns: [file-explorer] 30% [notes-and-reminders] 40% [calendar] 30%;
    grid-template-rows: 80px 1fr auto;
    // Creates 3 columns (file-explorer, notes calendar) with the third column having 3 rows (calendar, calendar-spacer, account-settings)
    grid-template-areas:
    "file-explorer-search reminder-notes calendar"
    "file-explorer-folders reminder-notes calendar-spacer"
    "file-explorer-cloud reminder-notes account-settings";
    height: 100vh
}

.reminder-note-card-container {
    // So adding a new note/reminder card cannot go off screen and it will grow/flex down as a column
    max-height: 80vh;   
    // Make it scrollable to see new entries further down
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.reminder-note-cards {
    margin-top: 1em;
}


.search-input {
    &.q-field--outlined .q-field__control {
        background-color: $accent;
        border-color: $accent;
        border-radius: 1rem;
    }
    // Style for the outline when focused
    &.q-field--focused .q-field__control {
        border-color: $primary;
    }
}

.calendar-tabs {
    background-color:$accent;
    color: $secondary;
    width: 100%;
}

.settings-container {
    display: flex;
    flex-direction: row;
}


.grid-seperator {
  border: 1px solid $tertiary;
  padding: 20px;
}


.login-registration-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // Nudge registration a little closer to sidebar
    padding-left: 10px;   
}

.username-password-box {
   background-color: rgb(255, 255, 255);
   color: $tertiary;
   border: none;
   width: 350px;
   height:60px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.note-box {
   width: 100%;
}


.note-box-dropdown {
   width: 100%;
}

// On smaller screens sizes of 715 px or less wide, make sidebar for login/registration into topbar (portrait)
@media screen and (max-width: 715px) {
  .login-registration-container {
    flex-direction: column; 
  }
  .login-registration-form {
    width: 100%;
  }
  .login-register-sidebar {
    width: 100%;
  }
}

.login-register-button {
    background-color: $primary;
    color: white;
    font-weight: bold;
    border: none;
    width: 170px;
    height: 40px;
    margin-top: 10px;
}

.account-and-settings-button {
  color: $primary;
  font-size: 30px; 
  margin-top: auto;
}

.reminder-header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

// No bullet points for file list and bigger font size
.file-list {
  list-style: none;
  font-size: 20px;
}

// Delete this if you want to see scrollbar as this hides it
::-webkit-scrollbar {
  display: none;
}

.event-card {
position: relative;
font-size: 12px;
width: 100%;
max-width: 100%;
margin: 1px 0 0 0;
padding: 0 2px;
justify-content: start;
overflow: visible;
word-break: normal;
white-space: normal;
overflow-wrap: break-word;
cursor: pointer;
}

.event-title {
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
max-width: 100%;
white-space: normal;
overflow: visible;
word-break: normal;
overflow-wrap: break-word;
}

// Grid to divide card section into two columns
.flight-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

// Gate, Flight #, Airline name, etc. are full width boxes
.flight-full {
  grid-column: 1 / -1;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

// Time and IATA fields are half width boxes
.flight-half {
  background-color: #f2f2f2;
  margin-bottom: 10px;
}